

body {
  background-color: black;
  
}

@media (min-width: 992px) {
  body {
    padding-top: 54px;
      margin-right: auto;
      margin-left: auto;
  }
}
#white
{
    background-color:#E46A6B;
}
#navs
{
     box-shadow: 10px 10px 10px 0px black;
}
#rows
{
    box-shadow: 0 -5px 5px -5px black;
}
footer
{
    width: 100%;
}
#hover:hover
{
    background-color: white;
    color: black;
    border-color: black;
}
#sh
{
    margin-top: 20px%;
}
p
{
     text-justify: inter-word;
}
